.main-page {
    text-align: center;
}


.main-page__welcome {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.main-page__nav {
    display: flex;
    justify-content: center;
}

.main-page__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-page__item {
    margin: 1rem;
}

.main-page__link {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s;
}

.main-page__link:hover {
    background-color: #f5f5f5;
}