body {
    background-color: #fdf6e3;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    color: #657b83;
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    width: 100%;
    box-sizing: border-box;
}

.input,
.textarea {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #93a1a1;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border 0.3s ease;
}

.input:focus,
.textarea:focus {
    border-color: #586e75;
    outline: none;
}

.textarea {
    min-height: 150px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #2aa198;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Add space between search input and button */
}

button:hover {
    background-color: #26867f;
}

.artwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid #93a1a1;
    width: 100%;
    box-sizing: border-box;
}

h1, h2 {
    width: 100%;
    text-align: center;
    color: #586e75;
    margin: 20px 0;
}

h3, p {
    width: 100%;
    text-align: center;
    color: #657b83;
}
