.sign-in-wrapper {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  margin: 20px auto;
  max-width: 1200px;
  /* height: 100vh; */
  background-color: #f2f2f2;
}
.sign-in-header {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.sign-in-header::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60%;
    height: 1px;
    background: #333;
}

.title-container {
    margin-bottom: 20px;
}

.title {
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.error-message {
    color: red;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
}

.input-container::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60%;
    height: 1px;
    background: #333;
}

.input-field {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    transition: border-color 0.3s;
}

.input-field:focus {
    outline: none;
    border-color: #ddd;
}


.button-containter {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.submit-button:hover {
    background-color: #444;
}

.switch-button {
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.switch-button:hover {
    background-color: #333;
    color: #fff;
}

.input-label {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}